Добрый день!

Поступил заказ на авто ${autoName}
Желаемая дата и время начала аренды: ${fromDate}
Желаемая дата и время окончания аренды: ${toDate}

Заказчик: $(userName)
Телефон заказчика: ${userPhone}

